##Chapter 5
#**Dictionaries and Structuring Data**

##**The Dictionary Data Type**

Like a list, a dictionary is a collection of many values. 

Storage in Dictionary are in the form of *Key-Value* pair.

A dictionary is typed with braces {}.

In [ ]:
myCat = {'size': 'fat', 'color': 'gray', 'disposition': 'loud'}
myCat

In the above example, 
![image.png]()

Key-value pair are separated by colon (:)

Accessing Value can be through corresponding key

In [ ]:
myCat['size']

In [ ]:
'My cat has ' + myCat['color'] + ' fur.'

Keys can be string as well as integer

In [ ]:
spam = {12345: 'Luggage Combination', 42: 'The Answer'}
spam[12345]

Dictionaries vs. Lists

![image.png]()

In [ ]:
spam = ['cats', 'dogs', 'moose']
bacon = ['dogs', 'moose', 'cats']
spam == bacon

In [ ]:
eggs = {'name': 'Zophie', 'species': 'cat', 'age': '8'}
ham = {'species': 'cat', 'age': '8', 'name': 'Zophie'}
eggs == ham

In [ ]:
spam[100]

In [ ]:
spam = {'name': 'Zophie', 'age': 7}
spam['color']

In [ ]:
birthdays = {'Alice': 'Apr 1', 'Bob': 'Dec 12', 'Carol': 'Mar 4'}
while True:
  print('Enter a name: (blank to quit)')
  name = input()
  if name == '':
    break
  if name in birthdays:
    print(birthdays[name] + ' is the birthday of ' + name)
  else:
    print('I do not have birthday information for ' + name)
    print('What is their birthday?')
    bday = input()
    birthdays[name] = bday
    print('Birthday database updated.')

**The keys(), values(), and items() Methods**

keys(): returns list-like(dict_keys) of keys of a dictionary

values(): returns list-like(dict_values) of value of a dictionary

items(): returns list-like(dict_items) of key-value pairs of a dictionary

In [ ]:
birthdays.keys()

In [ ]:
birthdays.values()

In [ ]:
birthdays.items()

These can be used in for loops

In [ ]:
spam = {'color': 'red', 'age': 42}
for v in spam.values():
  print(v)

In [ ]:
for k in spam.keys():
  print(k)

In [ ]:
for i in spam.items():
  print(i)

The return values of keys(), values(), items() can be converted into list by:

In [ ]:
list(spam.keys())

We can also use the multiple assignment trick in a for loop to assign the key and value to separate variables:

In [ ]:
spam = {'color': 'red', 'age': 42}
for k, v in spam.items():
  print('Key: ' + k + ' Value: ' + str(v))

**Checking Whether a Key or Value Exists in a Dictionary**

Use of in and not in operators can be used with dictionary

In [ ]:
spam = {'name': 'Zophie', 'age': 7}
'name' in spam.keys()

In [ ]:
'Zophie' in spam.values()

In [ ]:
'color' not in spam.keys()

In [ ]:
'color' in spam

The above example is shown as short form of searching a key in dictionary

In [ ]:
'name' in spam

##The **get()** Method

It return a value associated with the given key, else it return the 2nd parameter

In [ ]:
picnicItems = {'apples': 5, 'cups': 2}
'I am bringing ' + str(picnicItems.get('cups', 0)) + ' cups.'

In [ ]:
'I am bringing ' + str(picnicItems.get('eggs', 0)) + ' eggs.'

Without using get(), the code would have caused an error message if the key is not found in the dictionary

Example:

In [ ]:
picnicItems = {'apples': 5, 'cups': 2}
'I am bringing ' + str(picnicItems['eggs']) + ' eggs.'

##The **setdefault()** Method

If the key is not found in the list and if the user wants a default value to be assigned, then we can use setdefualt() method, if the key is already exist, then, function returns existing value of the key in dictionary.

In [ ]:
spam = {'name': 'Pooka', 'age': 5}
spam.setdefault('color', 'black')

In [ ]:
spam

In [ ]:
spam.setdefault('color', 'white')

The setdefault() method is a nice shortcut to ensure that a key exists.

Example: To Create dictionary containing every character in a given text with number of times it appears in a text.

In [ ]:
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}
for character in message:
  count.setdefault(character, 0)
  count[character] = count[character] + 1
print(count)

##**Pretty Printing**
*pprint()* and *pformat()* functions that will “pretty print” a dictionary’s
values. This is helpful when you want a cleaner display of the items in a
dictionary than what print() provides.

In [ ]:
import pprint
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}
for character in message:
  count.setdefault(character, 0)
  count[character] = count[character] + 1
pprint.pprint(count)

The pprint.pprint() function is especially helpful when the dictionary itself contains nested lists or dictionaries.

To obtain pprint() in a string like format (instead on printing), we can use 
pprint.pformat() method

In [ ]:
pprint.pprint(count)
print(pprint.pformat(count))

{' ': 13,
 ',': 1,
 '.': 1,
 'A': 1,
 'I': 1,
 'a': 4,
 'b': 1,
 'c': 3,
 'd': 3,
 'e': 5,
 'g': 2,
 'h': 3,
 'i': 6,
 'k': 2,
 'l': 3,
 'n': 4,
 'o': 2,
 'p': 1,
 'r': 5,
 's': 3,
 't': 6,
 'w': 2,
 'y': 1}
{' ': 13,
 ',': 1,
 '.': 1,
 'A': 1,
 'I': 1,
 'a': 4,
 'b': 1,
 'c': 3,
 'd': 3,
 'e': 5,
 'g': 2,
 'h': 3,
 'i': 6,
 'k': 2,
 'l': 3,
 'n': 4,
 'o': 2,
 'p': 1,
 'r': 5,
 's': 3,
 't': 6,
 'w': 2,
 'y': 1}